{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dades list</h1>

    <table>
        <thead>
            <tr>
                <th>Titol</th>
                <th>Grup</th>
                <th>Data</th>
                <th>Ciutat</th>
                <th>Sala</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dade in dades %}
            <tr>
                <td><a href="{{ path('dades_show', { 'id': dade.id }) }}">{{ dade.titol }}</a></td>
                <td>{{ dade.grup }}</td>
                <td>{% if dade.data %}{{ dade.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ dade.ciutat }}</td>
                <td>{{ dade.sala }}</td>
                <td>{{ dade.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dades_show', { 'id': dade.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dades_edit', { 'id': dade.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dades_new') }}">Create a new dade</a>
        </li>
    </ul>
{% endblock %}
