{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dade</h1>

    <table>
        <tbody>
            <tr>
                <th>Titol</th>
                <td>{{ dade.titol }}</td>
            </tr>
            <tr>
                <th>Grup</th>
                <td>{{ dade.grup }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if dade.data %}{{ dade.data|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ciutat</th>
                <td>{{ dade.ciutat }}</td>
            </tr>
            <tr>
                <th>Sala</th>
                <td>{{ dade.sala }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ dade.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dades_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dades_edit', { 'id': dade.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
