{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concerts list</h1>

    <table>
        <thead>
            <tr>
                <th>Titol</th>
                <th>Grup</th>
                <th>Data</th>
                <th>Ciutat</th>
                <th>Sala</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td><a href="{{ path('concert_show', { 'id': concert.id }) }}">{{ concert.titol }}</a></td>
                <td>{{ concert.grup }}</td>
                <td>{{ concert.data }}</td>
                <td>{{ concert.ciutat }}</td>
                <td>{{ concert.sala }}</td>
                <td>{{ concert.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('concert_show', { 'id': concert.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('concert_edit', { 'id': concert.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concert_new') }}">Create a new concert</a>
        </li>
    </ul>
{% endblock %}
