{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concert</h1>

    <table>
        <tbody>
            <tr>
                <th>Titol</th>
                <td>{{ concert.titol }}</td>
            </tr>
            <tr>
                <th>Grup</th>
                <td>{{ concert.grup }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ concert.data }}</td>
            </tr>
            <tr>
                <th>Ciutat</th>
                <td>{{ concert.ciutat }}</td>
            </tr>
            <tr>
                <th>Sala</th>
                <td>{{ concert.sala }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ concert.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concert_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concert_edit', { 'id': concert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
